<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <charset>utf8</charset>
            <pattern>%clr(&#8203;[%date{ISO8601}]){faint}|%clr(${level:-%5p})|%32X{traceId:-},%16X{spanId:-}|%clr(%-40.40logger{39}){cyan}%clr(|){faint}%m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}
            </pattern>
        </encoder>
    </appender>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <logger level="INFO" name="com.hbc.pms"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
